.vscode-body {
	font-weight: 500;
  line-height: calc(30 / 18);
  background-color: #f3f3f3;
  color: #333;
  font-size: 18px;
  padding: 5% 10%;
  font-family: 'Monospace','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vscode-body.showEditorSelection .code-active-line:before {
	border-left: 3px solid rgba(0, 0, 0, 0.15);
}

a {
	color: #0288d1;
	text-decoration: none
}

/* Emphasis */

h1,
h2,
h3,
h4,
strong,
blockquote em,
th {
	font-weight: 600;
}

h5,
h6 {
	font-weight: 700;
}

h1,
h2 {
	margin-top: calc((60 / 18) * 1rem);
	font-family: inherit;
}

h1 {
	margin-bottom: calc((60 / 18) * 1rem);
	font-size: 35px;
	line-height: calc(30 / 23);
	text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}

h2 {
	margin-bottom: calc((30 / 18) * 1rem);
	font-size: 25px;
	line-height: calc(30 / 21);
	border-bottom: 1px solid #333;
}

h3,
h4,
h5,
h6 {
	margin-top: calc((30 / 18) * 1rem);
	font-size: 1rem;
	font-family: inherit;
}

h3,
h4,
h5 {
	margin-bottom: 0;
}

h3,
h4 {
	line-height: calc(30 / 18);
}

h3 {
  font-size: 20px;
  color: #795548;
}

h5,
h6 {
	line-height: normal;
}
/* Vertical margins */

p,
dl,
figure,
blockquote,
pre,
table {
	margin: calc((30 / 18) * 1rem) auto 0;
}

:not(pre) > code {
	padding:2px 4px;
	background-color:#fbe5e1 !important;
	color:#c0341d;
	border-radius:4px
}



ul,
ol {
	padding-left: 15px
}

ul {
	list-style: none;
	/*We have custom bullets*/
}

ul>li:before {
	content: "• ";
	float: left;
	margin-left: calc((18 / 18) * -1rem);
}

.vscode-dark pre {
	background-color:#2C323C;
	color: #f4f4f4;
	border-radius: 10px;
}


.vscode-dark table {
	table-layout: fixed;
	min-width: 60%;
	border-collapse: collapse;
	font-size: 16px;
	line-height: calc(24 / 15);
}

.vscode-dark caption {
	border-bottom: 1px solid #e6e6e6;
	padding-top: calc((10 / 1080) * 100%);
	padding-bottom: calc((10 / 1080) * 100%);
	font-size: 1em;
}
.vscode-dark th,
.vscode-dark td {
	margin-right: calc((30 / 1080) * 100%);
	padding: calc((10 / 1080) * 100%) 0 calc((10 / 1080) * 100%);
	vertical-align: top;
}
.vscode-dark th {
	border-bottom: 1px solid #00B3FF;
}

/* Table horizontal line */

.vscode-dark tbody th,
.vscode-dark td {
	border-top: 1px #9e9e9e solid;
	border-bottom: 1px #9e9e9e solid;
}

blockquote ul,
blockquote ol {
	margin-left: calc((40 / 18) * -1rem);
}


/* Blockquotes */

blockquote {
	margin-left: calc((16 / 18) * -1rem);
	margin-right: calc((16 / 18) * -1rem);
	padding-left: calc((40 / 18) * 1rem);
	padding-right: calc((40 / 18) * 1rem);
	font-style: italic;
}

blockquote em strong,
blockquote strong em {
	font-weight: 700;
}


h1+ :-webkit-any(h1, h2) {
	margin-top: calc((45 / 18) * -1rem);
}

h2+ :-webkit-any(h1, h2) {
	margin-top: calc((15 / 18) * -1rem);
}

:-webkit-any(h1, h2, h3, h4, h5, h6)+ :-webkit-any(h3, h4, h5, h6),
body>h6:first-child {
	margin-top: 0;
}


strong{
	color:#e91e63;
	font-weight:800
}

em{
	color:#F57C00;
	font-weight:800;
	font-style:normal
}

s{
	text-decoration:none;
	color:#8E24AA;
	font-weight:800
}